<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,
wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/categories.css">
<div class="categories">
    <div class="items">
       <a href="#">Business</a>
       <a href="#">Development</a>
       <a href="#">Design</a>
       <a href="#">Finance & Accounting</a>
       <a href="#">Health & Fitness</a>
       <a href="#">IT & Software</a>
       <a href="#">Marketing</a>
       <a href="#">Music</a>
       <a href="#">Productivity</a>
    </div>
</div>