<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,
wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/styles/categories.css" />
<div class="categories">
  <div>
    <div class="mobile">
      <nav class="navbar d-flex justify-content-around">
        <button
          class="navbar-toggler categories-button"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Categories
        </button>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="mobile-items">
          <a href="/courses/?category=Business">Business</a>
          <a href="/courses/?category=Development">Development</a>
          <a href="/courses/?category=Design">Design</a>
          <a href="/courses/?category=Finance-Accounting"
            >Finance & Accounting</a
          >
          <a href="/courses/?category=Health-Fitness">Health & Fitness</a>
          <a href="/courses/?category=IT-Software">IT & Software</a>
          <a href="/courses/?category=Marketing">Marketing</a>
          <a href="/courses/?category=Music">Music</a>
          <a href="/courses/?category=Teaching-Academics">Teaching & Academics</a>
          <a href="/courses/?category=Other">Other</a>
        </div>
      </div>
    </div>
    <div class="items">
      <a href="/courses/?category=Business">Business</a>
      <a href="/courses/?category=Development">Development</a>
      <a href="/courses/?category=Design">Design</a>
      <a href="/courses/?category=Finance-Accounting">Finance & Accounting</a>
      <a href="/courses/?category=Health-Fitness">Health & Fitness</a>
      <a href="/courses/?category=IT-Software">IT & Software</a>
      <a href="/courses/?category=Marketing">Marketing</a>
      <a href="/courses/?category=Music">Music</a>
      <a href="/courses/?category=Teaching-Academics">Teaching & Academics</a>
      <a href="/courses/?category=Other">Other</a>
    </div>
  </div>
</div>
