<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/">Project-S11</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/courses">Courses</a>
            <a class="nav-link" href="/courses/submit">Submit Course</a>
            <a class="nav-link" href="#">About</a>
        </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentuser){%>
          <a class="nav-link" href="/register">Register</a>
          <a class="nav-link" href="/login">Login</a>
        <% } else { %> 
          <a class="nav-link" href="/logout">Logout</a>
          <% } %> 
      </div>
      </div> 
    </div>
  </nav>