<%layout('layouts/homelayout') -%>
<link rel="stylesheet" href="/styles/about.css" />

<div class="aboutSection">
  <div class="aboutContainer">
    <div class="content-aboutSection">
      <div class="title">
        <h1>About Me</h1>
      </div>
      <div class="content">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="button">
          <a href="">Read More</a>
        </div>
      </div>
      <div class="social">
        <a target="_blank" href="https://github.com/shubhamjha386"
          ><i class="fab fa-github"></i
        ></a>
        <a target="_blank" href="https://www.linkedin.com/in/shubhamjha386/"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
    </div>
    <div class="image-aboutSection">
      <img src="/assests/about.jpg" />
    </div>
  </div>
</div>
