.categories{
    width: 100%;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 0.46rem 0.64px rgba(129, 129, 129, 0.71);
    margin: 0;
    padding:0;
    height: max-content;
}
.categories .items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items a{
  display: block;
  padding: 0.5rem;
  font-family: "Merriweather";
  color: #0d6efd;
  text-decoration: none;
  text-align: center;
  color: rgb(64, 64, 64);
}

@media (min-width:768px)
{
    .categories .items{
        flex-direction: row;
    }
}